h1 {
    font-size: 18px;
    color: navy;
}

h2 {
    font-size: 14px;
    font-style: italic;
    color: mediumpurple;  
}

fieldset {
    width: 600px;
    border: 2px solid grey;
    margin-bottom: 12px;
    border-radius: 2px;
    padding: 18px;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[name="books"],
select {
    width: 300px; 
}

input[type="number"] {
    width: 90px;
}